<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card border-0 shadow-sm">
        <div class="card-body p-4 p-md-5">
          <h2 class="card-title text-primary mb-4">Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
                              html: { data: { controller: "load-button" } }) do |f| %>
            <%= f.error_notification %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>

            <div data-load-button-target="buttons">
              <%= f.button :submit, "Sign up", class: "btn btn-primary w-100 mt-2",
                           data: { action: "click->load-button#showSpinner",
                                   load_button_loading_text_value: "Creating account..." } %>
            </div>
          <% end %>
        </div>
      </div>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
