<div id="<%= dom_id grant_award %>">
  <div>
    <strong>Title:</strong>
    <%= grant_award.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= grant_award.description %>
  </div>

  <div>
    <strong>Year:</strong>
    <%= grant_award.year %>
  </div>

  <div>
    <strong>Awarding body:</strong>
    <%= grant_award.awarding_body %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= grant_award.category %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= grant_award.slug %>
  </div>

</div>
