<div id="<%= dom_id blog_post %>">
  <div>
    <strong>Title:</strong>
    <%= blog_post.title %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= blog_post.author %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= blog_post.status %>
  </div>

  <div>
    <strong>Ai generated:</strong>
    <%= blog_post.ai_generated %>
  </div>

  <div>
    <strong>Scheduled at:</strong>
    <%= blog_post.scheduled_at %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= blog_post.slug %>
  </div>

</div>
