<div id="<%= dom_id research_item %>">
  <div>
    <strong>Title:</strong>
    <%= research_item.title %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= research_item.category %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= research_item.description %>
  </div>

  <div>
    <strong>External url:</strong>
    <%= research_item.external_url %>
  </div>

  <div>
    <strong>Featured:</strong>
    <%= research_item.featured %>
  </div>

  <div>
    <strong>Published at:</strong>
    <%= research_item.published_at %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= research_item.slug %>
  </div>

</div>
