<p style="color: green"><%= notice %></p>

<%= render @research_item %>

<div>
  <%= link_to "Edit this research item", edit_research_item_path(@research_item) %> |
  <%= link_to "Back to research items", research_items_path %>

  <%= button_to "Destroy this research item", @research_item, method: :delete %>
</div>
