<div id="<%= dom_id teaching %>">
  <div>
    <strong>Title:</strong>
    <%= teaching.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= teaching.description %>
  </div>

  <div>
    <strong>Institution:</strong>
    <%= teaching.institution %>
  </div>

  <div>
    <strong>Year:</strong>
    <%= teaching.year %>
  </div>

  <div>
    <strong>Image url:</strong>
    <%= teaching.image_url %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= teaching.slug %>
  </div>

</div>
